<div class="wrapper">
  <div class="list-order__caption-wrapper">
    <h1>Список заказов</h1>
  </div>

  <clr-datagrid *ngIf="items?.length > 0; else noItems">
    <clr-dg-column>ID</clr-dg-column>
    <clr-dg-column>Адрес от</clr-dg-column>
    <clr-dg-column>Адрес до</clr-dg-column>
    <clr-dg-column>Дата</clr-dg-column>
    <clr-dg-column>Время</clr-dg-column>
    <clr-dg-column>Статус</clr-dg-column>
    <clr-dg-column>Комментарий</clr-dg-column>

    <clr-dg-row *ngFor="let item of items">
      <clr-dg-action-overflow>
        <button class="action-item" (click)="deleteItem($event, item)">Удалить</button>
      </clr-dg-action-overflow>
      <clr-dg-cell>{{ item.id }}</clr-dg-cell>
      <clr-dg-cell>{{ item.adressFrom }}</clr-dg-cell>
      <clr-dg-cell>{{ item.adressTo }}</clr-dg-cell>
      <clr-dg-cell>{{ item.data }}</clr-dg-cell>
      <clr-dg-cell>{{ item.time }}</clr-dg-cell>
      <clr-dg-cell>{{ item.status }}</clr-dg-cell>
      <clr-dg-cell>{{ item.comment }}</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>{{ items.length }}</clr-dg-footer>
  </clr-datagrid>

  <ng-template #noItems>
    <h2>Нет ни одного заказа</h2>
  </ng-template>
</div>
